@CHARSET "UTF-8";

.consolePanel_frame {
	width: 100%;
	height: 100%;
	display: block;
	background: black;
	overflow: scroll;
	padding: 5px;
	color: #ffffff;
}

.consolePanel_input {
	background-color: #000000;
	color: #ffffff;
	border: none;
	outline: none;
	width: 100%;
}

.consolePanel_fill {
	height: 80%;
}