@CHARSET "UTF-8";

.mainUserPanel_mainPanel {
	margin-left: 50px;
	margin-right: 50px;
}

.mainUserPanel_rPanel {
	margin-left: 40px;
	border-left: 1px solid #000000;
	padding-left: 10px;
	min-width: 400px;
}

.mainUserPanel_setTable {
	border-collapse: separate;
	border-spacing: 5px;
	margin-left: 30px;
}

.mainUserPanel_friendsPanel {
	overflow: auto;
	display: block;
	border: 1px solid #000000;
	width: 100%;
	height: 200px;
}

.mainUserPanel_friendPanel {
	padding-bottom: 2px;
	padding-top: 2px;
	margin-top: 0px !important;
	margin-bottom: 3px !important;
}