@CHARSET "UTF-8";

.mainMoviePanel_mainPanel {
	display: block;
	width: auto;
}

.mainMoviePanel_mainPanel_row1 {
	display: flex;
}

.mainMoviePanel_mainPanel_row2 {
	margin-left: 10px;
	margin-right: 10px;
}

.mainMoviePanel_mainPanel_row2Wrap {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-left: 0px;
	margin-top: 10px;
	padding-left: 10px;
}

.mainMoviePanel_mainPanel_leftborder {
	border-left: 1px solid #000000;
}

.mainMoviePanel_leftPanel {
	width: 50%;
	margin-left: 10px;
	margin-right: 5px;
	display:block;
}

.mainMoviePanel_rightPanel {
	width: 50%;
	margin-left: 5px;
	margin-right: 10px;
}

.mainMoviePanel_imagePanel {
	width: 240px;
	height: 320px;
	background: green;
}

.mainMoviePanel_box {
	display: inline-block;
	border: 1px solid #000000;
	border-radius: 3px;
	width: 300px;
	height: 110px;
	width: 300px;
	padding-bottom: 10px;
}