@CHARSET "UTF-8";

.mainLoggedPanel_mainPanel {
	display: flex;
}

.mainLoggedPanel_leftPanel {
	display: block;
	margin-left: 20px;
}

.mainLoggedPanel_rightPanel {
	display: block;
	width: 400px;
	margin-left: 20px;
	margin-right:20px;
}
