@CHARSET "UTF-8";

.pageFooter_container {
	display: table-row;
	vertical-align: bottom;
	margin-top: 40px !important;
	height: 120px;
	border-top: 1px solid #000000;
	background-color: #f4f4f4;
}