@CHARSET "UTF-8";

.movieAlbumPanel_navPanel {
	min-width: 200px;
	max-width: 350px;
	word-wrap: break-word;
}

.movieAlbumPanel_overview {
	border-left: 1px solid #000000;
	display: block;
}

.movieAlbumPanel_navWrapper {
	border-left: 1px solid #000000;
	padding-left: 8px;
	padding-right: 8px;
	max-height: 100%;
	min-height: 450px;
}

.movieAlbumPanel_pagerWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 10px;
	margin-left: 30px
}

.movieAlbumPanel_selectWrapper {
	width:90px;
}