@CHARSET "UTF-8";

.loggedInTable_panel {
	border: 1px solid #000000;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	left: -10px;
}

.loggedInTable_table {
	border-spacing: 4px;
	border-collapse: separate;
	margin-right: 5px;
	width: 100%;
}

.loggedInTable_right {
	display: flex;
	padding-left: 15px;
	border-left: 1px solid #000000;
}
