@CHARSET "UTF-8";

.seenit_panel {
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 0px;
	margin-top: 10px;
}

.seenit_form_title {
	font-size: 16px;
	font-family: helvetica;
}

.seenit_panel_title {
	font-size: 22px;
	font-family: helvetica;
	border-bottom: 1px solid #000000;
	margin: 0px;
	padding: 8px;
}

.alignLeft {
	align: left;
	font-align: left;
	text-align: left;
}

.alignCenter {
	align: center;
	font-align: center;
	text-align: center;
}

.alignRight {
	align: right;
	font-align: right;
	text-align: right;
}

.pointer:hover {
	cursor: pointer
}

.qtable {
	display: table;
}

.qcellspacing-10 {
	cellspacing: 10px;
	border-collapse: separate;
	border-spacing: 10px;
}

.qcellpadding-10 {
	cellpadding: 10px;
	padding: 10px;
	border-collapse: separate;
	border-padding: 10px;
}

.qtable-cell {
	display: table-cell;
}

.qtable-cell-header {
	font-weight: bold;
	display: table-cell;
}

.qtable-row {
	display: table-row;
}

.bg-red {
	background: red;
}

.bg-blue {
	background: blue;
}

.bg-green {
	background: green;
}

.flex-container {
	display: flex;
}

.flex-container-row {
	display: flex;
	flex-direction: row;
}

.flex-container-column {
	display: flex;
	flex-direction: column;
}

.flex-item {
	flex: 1;
}

.fullwidth {
	width: 100%;
}

.fullheight {
	height: 100%;
}

.flex-grow {
	flex-grow: 1;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-left-20 {
	margin-left: 20px;
}

.margin-left-30 {
	margin-left: 30px;
}

.margin-right-10 {
	margin-left: 10px;
}

.margin-right-20 {
	margin-right: 20px;
}

.margin-right-30 {
	margin-right: 30px;
}

.liNextLevel {
	margin-left: 15px;
	padding-left: 15px;
}

.li-level-1 {
	padding-left: 15px;
}

.li-level-2 {
	padding-left: 30px;
}

.li-level-3 {
	padding-left: 45px;
}

.li-level-4 {
	padding-left: 60px;
}

.li-level-5 {
	padding-left: 75px;
}

.float-right {
	float: right;
}

.bigGlyph {
	font-size: 1.4em;
}

.flex-vcenter {
	align-items: center;
}

.border-left {
	border-left: 1px solid #000000;
}

.border-right {
	border-right: 1px solid #000000;
}

.nowrap {
	white-space: nowrap;
}

.border-bottom {
	border-bottom: 1px solid #000000;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-bottom-5 {
	padding-bottom: 5px;
}

.padding-top-5 {
	padding-top: 5px;
}

.padding-left-10 {
	padding-left: 10px;
}

.underline {
	text-decoration: underline;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.border {
	border: 1px solid #000000;
}

.border-2 {
	border: 2px solid #000000;
}

.border-3 {
	border: 3px solid #000000;
}

.border-4 {
	border: 4px solid #000000;
}

.border-top {
	border-top: 1px solid #000000;
}

.margin-top-30 {
	margin-top: 30px;
}

.text-danger-hover:hover {
	color: #a94442;
	-webkit-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
.text-success-hover:hover {
	color: #3c763d;
	-webkit-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
.text-info-hover:hover {
	color: #31708f;
	-webkit-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}