@CHARSET "UTF-8";

.recentlyAddedMovies_mainPanel {
	height: 500px;
}

.recentlyAddedMovies_mainPanelWrapper {
	height: 450px;
	overflow-y: scroll;
}

.recentlyAddedMovies_smallPanel {
	display: flex;
	height: 130px;
}

.recentlyAddedMovies_imagePanel {
	display: inline-block;
	width: 100px;
	height: 120px;
	margin-left: -10px;
	margin-top: 5px;
	position: relative;
	top: -20px;
}

.recentlyAddedMovies_titlePanel {
	position: relative;
	top: -20px;
	flex: 1;
	margin-left: 10px;
	margin-top: 3px;
}

.recentlyAddedMovies_th {
	text-align: right;
	vertical-align: middle;
	valign: middle;
}

.recentlyAddedMovies_td {
	padding-left: 7px;
}

.recentlyAddedMovies_movieTitle {
	width: 100%;
	text-align: center;
}